DEFAULT_IMAGES_PATH=./DeepFashion/images
INDEX_PATH=./DeepFashion/embed_data
CAPTIONS_PATH=./DeepFashion/captions.json
HUGGINGFACE_HUB_CACHE=./hf_cache
DATASET_ZIP_URL=https://huggingface.co/datasets/anhquanlam/clip-deepfashion-multimodal/resolve/main/DeepFashion.zip
MODEL_ID=anhquanlam/clip-finetuned-deepfashion
SCAN_BATCH_SIZE=16
LOG_LEVEL=INFO
